<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927258351556-77crqb261ffckp9rbuqror5pb9jss651.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927258351556-77crqb261ffckp9rbuqror5pb9jss651</string>
	<key>API_KEY</key>
	<string>AIzaSyAesf7IiK8J69CT3AP3q0toTnVohjUuPNo</string>
	<key>GCM_SENDER_ID</key>
	<string>927258351556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mti.kz.Samokat</string>
	<key>PROJECT_ID</key>
	<string>darkstore-5d890</string>
	<key>STORAGE_BUCKET</key>
	<string>darkstore-5d890.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927258351556:ios:d1cfe830b98e89e9013691</string>
	<key>DATABASE_URL</key>
	<string>https://darkstore-5d890.firebaseio.com</string>
</dict>
</plist>